./out
.3rd_party/
./content
.idea
.vscode
3rd_party
./3rd_party
./3rd_party/
./content/
content
*.csv
*.py
*.png
./figures_comparative
./figures
./figures/
./figures_comparative/
*.rar
figures/
figures
figures_comparative
figures_comparative/
cmake-build-debug
thesis_*